.about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 100px;
  margin-right: 100px;


}

.drop-About {
  margin-left: 100px;
  margin-right: 100px;

}

@media (max-width: 1039px) {
  .drop-About {
    margin-left: 75px;
    margin-right: 75px;

  }
}

@media (max-width: 768px) {
  .drop-About {
    margin-left: 0;
    margin-right: 0;

  }

  .about {
    margin-left: 20px;
    margin-right: 20px;
  }
}