.banner {
  align-items: center;
  border-radius: 25px;
  color: white;
  display: flex;
  height: 223px;
  justify-content: center;
  width: 100%;
  margin-top: 43px;
}

.banner h1 {
  color: white;
  font-size: 48px;
  font-weight: 500;
  padding: 16px 96px 16px 16px;
}

.banner-home {
  background: rgba(0, 0, 0, 0.3) url("../asset/banner-home.png");
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-about {
  background: rgba(0, 0, 0, 0.3) url("../asset/banner-about.png");
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1039px) {
  .banner h1 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .banner {
    border-radius: 10px;
    margin-top: 0;
  }

  .banner h1 {
    color: white;
    font-size: 24px;
  }
}